<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >
    <div class="item active">
      <img src="http://topwalls.net/wp-content/uploads/2012/07/Ocean-.jpg" alt="responsive">
      <div class="carousel-caption">
      	<h1>Kalman, the most pinteresting man in the world.</h1>
	     <h3> Find me on <%= link_to "linkedin", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile", class: "btn btn-primary btn-lg" %> </h3>

     
      </div>
    </div>



    
    <div class="jumbotron">
  <h1>Matthew is one of the coolest girls I know! I am so happy to have Matthew as a friend. Thanks God for Matthew!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
  
  

  <div class="jumbotron center">
  <h1>Matthew is one of the coolest girls I know! I am so happy to have Matthew as a friend. Thanks God for Matthew!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
  </div>
</div>


    

