<div class="jumbotron">
	<h1>Kalman, the most pinteresting man in the world.</h1>
	<p> Find me on <%= link_to "LINKEDIN", "https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile", class: "btn btn-primary btn-lg" %> </p>
</div>